/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primay-color: #165090;
  --secondary-color: #e84c9b;
  --colorbg: red;
}

body {
  background-color: #f2f2f2;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

section {
  margin-top: 5em;
}

.navbar {
  .container {
    display: flex;
    place-content: space-between;
    margin: 0.5em;
    .logo {
      cursor: pointer;
      margin: 0.5em;
      color: var(--primay-color);
      font-weight: 600;
      font-size: 1.5em;
      font-family: "popins";
      display: flex;
      align-items: center;
      place-content: space-evenly;

      span {
        color: #e84c9b;
      }
    }
    .men {
      cursor: pointer;
    }
  }
}

nav {
  display: none;
}

/* hero Section */

.hero {
  h1 {
    font-weight: 820;
    font-size: 4em;
    font-family: "Poppins";
    color: #b4afaf;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 28em;
      height: 20em;
    }
    .detail {
      color: #171717;
      padding: 1em;
      display: flex;
      flex-direction: column;
      place-content: space-evenly;
      margin: 1em;

      .title {
        text-decoration: bold;
        font-family: "Poppins", sans-serif;
        font-stretch: expanded;
        font-weight: 80em;
        font-size: 3em;
        line-height: 1.1em;
      }
      .des {
        font-size: 0.9em;
        font-weight: bold;
        span {
          color: #e84c9b;
        }
      }
      .buttons {
        display: flex;
        place-content: space-between;
        margin-top: 1em;
        max-width: 400px;
        div {
          width: 9.06em;
          height: 3.93em;
          text-align: center;
          font-size: 0.875em;
          letter-spacing: normal;
          cursor: pointer;
        }
        .quote {
          background-color: var(--primay-color);
          color: white;
        }
        .learn:hover {
          color: var(--primay-color);
          border-radius: 25% 10%;
          text-decoration: underline;
          font-weight: bold;
        }
        .cancel:hover {
          color: red;
          text-decoration: underline;
          font-weight: bold;
        }
      }
      .des2 {
        display: flex;
        place-content: space-between;
        margin-top: 1.5em;
        max-width: 380px;
        .discount {
          color: var(--secondary-color);
          line-height: 0.1em;
          font-weight: bold;
          text-align: center;

          h1 {
            font-size: 48px;
            line-height: 72;
          }
        }

        .time {
          display: flex;
          place-content: space-between;
          text-align: center;
          div {
            text-decoration: ":";
            line-height: 0.1em;
            h {
              font-size: 62px;
              line-height: 93px;
              font-weight: bold;
            }
            span {
              font-size: 19px;
              line-height: 29px;
              color: #d6d6d6;
            }
          }
        }
      }
    }
  }
}

/* Award Section */

.award {
  background-color: var(--primay-color);
  padding: 1em;
  .left_col {
    margin-top: 1.5em;
    line-height: 0.1em;
    align-items: center;
    font-family: "Poppins";
    color: white;
    text-align: center;
    .title_1 {
      font-size: 0.8em;
    }
    .title_2 {
      margin: 0%;
      padding: 0%;
      font-size: 35px;
      font-weight: bold;
      line-height: 0.8em;
    }
    .title_3 {
      margin: 0%;
      padding: 0%;
      font-size: 0.5em;
      line-height: 5.9em;
      letter-spacing: 0.3em;
    }
  }
  .right_col {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4em;
    place-content: space-between;
  }
}

.title {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
  font-family: "Poppins";
}
/* Words Section */

.words {
  .container {
    text-align: center;
    font-family: "Poppins";

    .sub_title {
      font-size: 0.8em;
      line-height: 1.3em;
      font-weight: normal;
    }

    .feature {
      font-family: "Poppins";
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        list-style: none;
        margin-top: 2em;
        width: 14em;
        height: 12em;
      }
      p {
        font-size: 0.8em;
        letter-spacing: 0.01em;
        font-weight: bold;
        line-height: 0.2em;
      }
      span {
        font-size: 0.9em;
        line-height: 0.4em;
        letter-spacing: 0.01em;
        font-weight: normal;
      }
    }
  }
}

/** Car Insurance **/
.insurance {
  text-align: center;
  margin: 1em;
  padding: 1em;
  background-color: #f7f7f7;
  .blog {
    margin-top: 4em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      list-style: none;
      margin-top: 1.5em;
      width: 13em;
      height: 24em;
      img {
        width: 13.125em;
        height: 10.62em;
      }
      p {
        font-size: 0.9em;
        font-weight: bold;
      }
      span {
        font-size: 0.9375em;
        line-height: 1.4375em;
        letter-spacing: 0.000001em;
        font-weight: lighter;
        line-height: 0%;
        justify-content: left;
      }
      .read {
        color: #2166b1;
        line-height: 0.01em;
      }
      &:hover {
        box-shadow: 5px 10px ivory;
      }
    }
  }
}
/** Footer **/
.footer {
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  font-size: 0.7em;
  color: white;
  font-weight: bold;
  background-color: #22262a;
  height: 5em;
}

//Mobile responsive
@media only screen and (min-width: 800px) {
  .men {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    .container {
      flex: 1;
    }
    nav {
      flex: 2;
      display: flex;
      flex: row;
      place-content: space-between;
      align-items: center;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        place-content: space-between;
        li {
          cursor: pointer;
          color: var(--primay-color);
          margin-right: 1.5em;
          font-size: 0.7em;
          list-style: none;
          &:hover {
            text-decoration: underline;
            font-size: 0.9em;
            text-decoration-thickness: 0.3em;
          }
        }
      }
    }
  }

  /** Hero **/
  .hero {
    h1 {
      font-size: 5em;
      font-weight: 2em;
      line-height: 0.00001em;
    }
    .container {
      display: flex;
      flex-direction: row-reverse;
      place-content: space-evenly;
      img {
        flex: 1;
        width: 28em;
        height: 20em;
      }
      .detail {
        margin: 3em;
        padding: 2em;
        flex: 1;
      }
    }
  }

  /** award **/
  .award {
    display: flex;
    flex-direction: row;
    height: 90px;
    .left_col {
      margin: 0%;
      flex: 1;
      text-align: left;
      line-height: 0.7em;
      .title_2 {
        font-size: 1em;
      }
      .title_3 {
        font-size: 0.7em;
        line-height: 2.5em;
      }
    }
    .right_col {
      margin: 1em;
      flex: 2;
      display: flex;
      flex-direction: row;
      place-content: space-evenly;
      align-items: center;
      .img_1 {
        width: 114px;
        height: 29.83px;
      }
      .img_2 {
        margin-top: 1em;
        width: 179.58px;
        height: 112.61px;
      }
      .img_3 {
        width: 200.58px;
        height: 125.78px;
      }
    }
  }

  /** Words **/
  .words {
    .feature {
      ul {
        display: flex;
        max-width: 800px;
        place-content: space-evenly;
        flex-wrap: wrap;
        flex-basis: base;
      }
    }
  }

  /** Insurance **/
  .insurance {
    .blog {
      ul {
        display: flex;
      }
      li {
        margin-right: 1.8em;
      }
    }
  }
}

/**
Media Query - 950px
**/
@media only screen and (min-width: 950px) {
  .hero {
    h1 {
      font-size: 7em;
      font-weight: bold;
      line-height: 0%;
    }
  }
}
